<div class="container-fluid">
  <div class="container">

    <h4>Saisissez un nom et un prénom d'utilisateur</h4>
    <form [formGroup]="authForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom"/>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom"/>
      </div>
      <button class="btn btn-success"
              [disabled]="authForm.invalid"
              type="submit">Connexion</button>
    </form>

  </div>
</div>
