.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.custum-list-group-item {
  margin-bottom: 10px;
  padding: 10px;
}

mat-list-item div button {
  margin: 5px;
}
