<div class="container-fluid">
  <div class="container">

    <h4>Nouveau post</h4>
    <form [formGroup]="postForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="nom" formControlName="titre"/>
      </div>
      <div class="form-group">
        <label for="contenu">Contenu</label>
        <textarea class="form-control" id="contenu" formControlName="contenu">
        </textarea>
      </div>
      <button class="btn btn-success"
              [disabled]="postForm.invalid"
              type="submit">Soumettre</button>
    </form>

  </div>
</div>
