<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="posts">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav" >
      <li routerLinkActive=""><a class="nav-link" style="cursor: pointer;"  routerLink="posts">Posts</a></li>
      <li routerLinkActive=""><a class="nav-link" style="cursor: pointer;" routerLink="new">Nouveau post</a></li>
    </ul>
    <span class="fill-remaining-space"></span>
    <ul class="nav navbar-nav" >
      <li routerLinkActive="" *ngIf="!_authService.isAuth"><a class="nav-link" style="cursor: pointer;"  routerLink="connexion">Connexion</a></li>
      <li *ngIf="_authService.isAuth">
        <button mat-button [matMenuTriggerFor]="menu">M. {{_authService.utilisateurConnecte.nom}} {{_authService.utilisateurConnecte.prenom}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deconnecter()">Deconnexion</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
