<mat-list-item [ngClass]="{
              'custum-list-group-item':true,
              'list-group-item':true,
              'list-group-item-success':  post.likes > post.dontLikes,
              'list-group-item-danger':   post.likes < post.dontLikes}"
              style="padding: 5px;height:initial;">
  <div matLine>
    <h3 style="display: inline-block"> {{post.titre}} </h3>
    <span class="fill-remaining-space"></span>
    <span style="float: right; vertical-align: bottom"> {{post.date}}</span>
    <span style="float: right; vertical-align: bottom;margin-right: 3px"> De {{post.auteur}} le </span>
  </div>

  <p matLine style="word-wrap: break-word;white-space: pre-wrap;">
    {{post.contenu}}
  </p>
  <div matLine>
    <button mat-button class="btn-success btnItemAction" (click)="onLikePost()">Like({{post.likes}})</button>
    <button mat-button class="btn-danger btnItemAction" (click)="onDontLikePost()">Don't Like({{post.dontLikes}})</button>
    <span class="fill-remaining-space"></span>
    <button mat-button class="btn-danger btnItemAction" style="float: right;" (click)="onDeletePost()">Supprimer</button>
  </div>
</mat-list-item>

