<div class="container-fluid">
  <h4>Bievenue sur le blog dédié à l'exercice final du cours sur Angular d'Open Classroom</h4>
  <div style="max-width: 800px;min-width: 300px">
    <app-post-list></app-post-list>
  </div>
</div>

